.error_message
{
    margin-top: 4px;
    color: red;
    font-size: 14px;
}

._incorrectly{
    border-color: red;
}

.item_remove, #logo_remove, .icon, .delete_item{
    font-size: 24px;
    cursor: pointer;
}

.file_div{
    width: 240px;
    margin-right: 30px;
    height: max-content;
}

.file_div img{
    width: 100%;
}
.file_div video{
    width: 100%;
}
